.pf-c-toolbar__expandable-content.pf-m-expanded {
  z-index: 400;
}

.pf-v5-c-options-menu__menu {
  z-index: 400;
}

/* This is a workaround to handle when the content of the toolbar wraps */
.pf-v5-c-toolbar__content-section {
  justify-content: start !important;
}
