# Global code owners for the entire repository
@jamestalton
@vidyanambiar
@keithjgrant
@AlexSCorey
@lgalis
@ZitaNemeckova
@marshmalien
@kialam
@MilanPospisil
@himdel

# Code owners for the cypress/support directory
cypress/support/ @nixocio @jamestalton @akus062381 @vishsanghishetty @AlexSCorey @vidyanambiar @keithjgrant @lgalis @ZitaNemeckova @marshmalien @kialam @MilanPospisil @himdel
