**/.env
**/blob-report/
**/coverage/
**/dist/
**/node_modules/
**/playwright-report/
**/playwright/.cache/
**/test-results/
.DS_Store
.eslintcache
.nx/cache
.nx/workspace-data
.vscode
/.nyc_output
/build
/certs
/coverage
/cypress/.nyc_output
/cypress/downloads
/dist
/framework/publish
/storybook-static
results.xml