.side-nav .pf-v5-c-nav__item ::before {
  content: unset;
}

.side-nav .pf-v5-c-nav__item.pf-m-expandable::before {
  content: unset;
}

.side-nav .pf-v5-c-nav__list {
  padding: 0;
}

.side-nav.pf-v5-c-nav > .pf-v5-c-nav__list > .pf-v5-c-nav__item {
  border-bottom: 1px solid #fff3;
}
