.ansi-green-fg {
  color: var(--pf-global--success-color--100);
}

.ansi-red-fg {
  color: var(--pf-global--danger-color--100);
}

.ansi-yellow-fg {
  color: var(--pf-global--warning-color--100);
}

.ansi-blue-fg {
  color: var(--pf-global--info-color--100);
}

.expand-column {
  background-color: var(--pf-global--BackgroundColor--200);
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

:root:where(.pf-theme-dark) .expand-column {
  background-color: var(--pf-global--BackgroundColor--100);
}

.line-column {
  background-color: var(--pf-global--BackgroundColor--200);
  border-right: thin solid var(--pf-global--BorderColor--100);
  text-align: right;
  padding-left: 8px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}

:root:where(.pf-theme-dark) .line-column {
  background-color: var(--pf-global--BackgroundColor--100);
}

.stdout-column {
  background-color: var(--pf-global--BackgroundColor--100);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}

:root:where(.pf-theme-dark) .stdout-column {
  background-color: var(--pf-global--BackgroundColor--200);
}
