#app {
  position: fixed;
  width: 100%;
  height: 100%;
}

.border-top {
  border-top: thin solid #0003;
}

.border-bottom {
  border-bottom: thin solid #0003;
}

.border-left {
  border-left: thin solid #0003;
}

.border-right {
  border-right: thin solid #0003;
}

.border {
  border: thin solid #0003;
}

/* .pf-c-truncate__start {
  min-width: unset;
}

.pf-c-toolbar .pf-c-toolbar__content {
  flex-wrap: wrap;
  row-gap: 8px;
}

.pf-c-page__sidebar-body {
  padding-top: 0;
} */
