#app {
  min-block-size: 100dvh;
  overflow: hidden;
}

.pf-v5-c-page__main {
  overflow: hidden;
}

.border-top {
  border-top: thin solid #00000028;
}
:root:where(.pf-v5-theme-dark) .border-top {
  border-top: thin solid #ffffff28;
}

.border-bottom {
  border-bottom: thin solid #00000028;
}
:root:where(.pf-v5-theme-dark) .border-bottom {
  border-bottom: thin solid #ffffff28;
}

.border-left {
  border-left: thin solid #00000028;
}
:root:where(.pf-v5-theme-dark) .border-left {
  border-left: thin solid #ffffff28;
}

.border-right {
  border-right: thin solid #00000028;
}
:root:where(.pf-v5-theme-dark) .border-right {
  border-right: thin solid #ffffff28;
}

.border {
  border: thin solid #00000028;
}
:root:where(.pf-v5-theme-dark) .border {
  border: thin solid #ffffff28;
}

:root:where(.pf-v5-theme-dark) .bg-lighten {
  background-image: linear-gradient(#ffffff08, #ffffff08) !important;
}

:root:where(.pf-v5-theme-dark) .bg-lighten-2 {
  background-image: linear-gradient(#ffffff0f, #ffffff0f) !important;
}

/* Leaving these here until until we make sure the PF5 upgrade has handled these

.pf-v5-c-truncate__start {
  min-width: unset;
}

.pf-v5-c-toolbar .pf-v5-c-toolbar__content {
  flex-wrap: wrap;
  row-gap: 8px;
}

*/

.pf-v5-c-drawer__body {
  max-height: 100%;
}
