/* COLORS */
.vtable tbody tr {
    background-color: var(--pf-c-table--BackgroundColor);
}

.vtable tbody tr:hover {
    background-color: #f8f8f8;
}
:root:where(.pf-theme-dark) .vtable tr:hover {
    background-color: #303030;
}

.vtable tbody tr.selected {
    background-color: #f4f6ff;
}
:root:where(.pf-theme-dark) .vtable tr.selected {
    background-color: #202830;
}

.vtable tbody tr.selected:hover {
    background-color: #f0f4ff;
}
:root:where(.pf-theme-dark) .vtable tr.selected:hover {
    background-color: #303840;
}

.vtable thead th {
    background-color: var(--pf-c-table--BackgroundColor) !important;
    background-clip: padding-box;
}

.vtable th {
    background-color: inherit;
    background-clip: padding-box;
}

.vtable td {
    background-color: inherit !important;
    background-clip: padding-box;
}

/* Table Header Sticky */
.vtable table thead {
    position: sticky;
    top: 0;
    /* z-index: 1000001; */
}

/* Table Header Shadow */
.vtable table thead:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 8px;
    width: 100%;
    background: linear-gradient(to bottom, #0002, #0000);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
:root:where(.pf-theme-dark) .vtable table thead:after {
    background: linear-gradient(to bottom, #0007, #0000);
    bottom: -9px;
    height: 10px;
}
.vtable table.scroll-top thead:after {
    opacity: 1;
}

/* Table 1st Column Sticky*/
.vtable table tr th:nth-child(1),
.vtable table tr td:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 1;
}

@media (max-width: 600px) {
    .vtable table.scroll-left tr th:nth-child(1):after,
    .vtable table.scroll-left tr td:nth-child(1):after {
        content: '';
        position: absolute;
        top: 0px;
        left: 45px;
        /* right: -8px; */
        height: 100%;
        width: 8px;
        background: linear-gradient(to right, #0002, #0000);
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
    }

    :root:where(.pf-theme-dark) .vtable table.scroll-left tr th:nth-child(1):after,
    :root:where(.pf-theme-dark) .vtable table.scroll-left tr td:nth-child(1):after {
        background: linear-gradient(to right, #0008, #0000);
        right: -12px;
        width: 12px;
    }
    .vtable table.scroll-left tr th:nth-child(1):after,
    .vtable table.scroll-left tr td:nth-child(1):after {
        opacity: 1;
    }
}

@media (min-width: 600px) {
    /* Table 2nd Column Sticky*/
    .vtable table tr th:nth-child(2),
    .vtable table tr td:nth-child(2) {
        position: sticky;
        left: 45px;
        z-index: 1;
    }
    @media (min-width: 1200px) {
        .vtable table tr th:nth-child(2),
        .vtable table tr td:nth-child(2) {
            left: 53px;
        }
    }
    .vtable table.scroll-left tr th:nth-child(2):after,
    .vtable table.scroll-left tr td:nth-child(2):after {
        content: '';
        position: absolute;
        top: 0px;
        right: -8px;
        height: 100%;
        width: 8px;
        background: linear-gradient(to right, #0002, #0000);
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
    }
    :root:where(.pf-theme-dark) .vtable table.scroll-left tr th:nth-child(2):after,
    :root:where(.pf-theme-dark) .vtable table.scroll-left tr td:nth-child(2):after {
        background: linear-gradient(to right, #0008, #0000);
        right: -12px;
        width: 12px;
    }
    .vtable table.scroll-left tr th:nth-child(2):after,
    .vtable table.scroll-left tr td:nth-child(2):after {
        opacity: 1;
    }
}

/* Table Last Column */
.vtable table tr th:last-child,
.vtable table tr td:last-child {
    position: sticky;
    right: 0;
}

/* Table Last Column Shadow before */
/* .vtable table tr th:nth-child(2):before, */
/* .vtable table tr td:nth-child(2):before, */
.vtable table tr th:last-child::before,
.vtable table tr td:last-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    height: 100%;
    width: 8px;
    background: linear-gradient(to left, #0002, #0000);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
/* :root:where(.pf-theme-dark) .vtable table.scroll-left tr th:nth-child(2):before, */
/* :root:where(.pf-theme-dark) .vtable table.scroll-left tr td:nth-child(2):before, */
:root:where(.pf-theme-dark) .vtable table.scroll-right tr th:last-child::before,
:root:where(.pf-theme-dark) .vtable table.scroll-right tr td:last-child::before {
    background: linear-gradient(to left, #0008, #0000);
    width: 12px;
    left: -12px;
}
/* .vtable table.scroll-left tr th:nth-child(2):before, */
/* .vtable table.scroll-left tr td:nth-child(2):before, */
.vtable table.scroll-right tr th:last-child::before,
.vtable table.scroll-right tr td:last-child::before {
    opacity: 1;
}

/* Table Footer */
.vtable table tfoot {
    position: sticky;
    bottom: 0;
    z-index: 1;
}
.vtable table tfoot:before {
    content: '';
    position: absolute;
    top: -8px;
    height: 8px;
    width: 100%;
    background: linear-gradient(to top, #0002, #0000);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
.vtable table.scroll-bottom tfoot:before {
    opacity: 1;
}

.vtable table thead th {
    overflow: unset !important;
    overflow-x: unset !important;
    overflow-y: unset !important;
}
