---
---

@import '{{ site.theme }}';

body {
  color: #ffffffcf;
  background-color: #101216;
}

.markdown-body h1 {
  border-bottom: 1px solid #fff3;
}

.markdown-body h2 {
  border-bottom: 1px solid #fff2;
}

.markdown-body .highlight {
  background-color: unset;
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: #08090b;
  border-radius: 8px;
}

a {
  color: #1fa7f8;
}

a:hover {
  color: #73bcf7;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #fffffff7;
}

h3 {
  color: #ffffffef;
}

h4 {
  color: #ffffffe7;
}

.highlight .p {
  color: #1899f5;
}

.highlight .nv {
  color: #579cd6;
}

.highlight .nc {
  color: #579cd6;
  font-weight: normal;
}

.highlight .na {
  color: #9ddcfe;
}

.highlight .nx {
  color: #fffd;
}

.highlight .k {
  color: #579cd6;
}

.highlight .kd {
  color: #579cd6;
}

.highlight .o {
  color: #fffb;
}

.highlight .s1 {
  color: #bb846e;
}

.highlight .s {
  color: #fffc;
}

.highlight .si {
  color: #1899f5;
}

.highlight .err {
  background: unset;
  color: orangered;
}

table thead {
  background-color: #08090b;
}

table tbody {
  background-color: #08090b;
}

.markdown-body table tr {
  background-color: unset;
  border: unset;
}

.markdown-body table tr:nth-child(2n) {
  background-color: unset;
}

.markdown-body table td {
  border: unset;
  border-top: 1px solid #fff2;
}

.markdown-body table th {
  color: #fff9;
  border: unset;
  border-bottom: 1px solid #fff4;
}

.markdown-body code,
.markdown-body tt {
  color: #4ad;
  background-color: #fff2;
}
