---
---

@import "{{ site.theme }}";

body {
    color:  #FFFD;
    background-color: #101216;
}

.markdown-body h1 {
    border-bottom: 1px solid #FFF2;
}

.markdown-body .highlight pre, .markdown-body pre {
    background-color: #08090b;
}

a {
    color: #1FA7F8;
}

a:hover {
    color: #73bcf7;
}
h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

.err {
    color: #800;
}