.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row.align-top {
  align-items: baseline;
}

.flex-row.flex-wrap {
  flex-wrap: wrap;
}

.flex-row.justify-start {
  justify-content: flex-start;
}

.flex-row.justify-center {
  justify-content: center;
}

.flex-row.justify-end {
  justify-content: flex-end;
}

.flex-row.align-start {
  align-items: flex-start;
}

.flex-row.align-center {
  align-items: center;
}

.flex-row.align-end {
  align-items: flex-end;
}

.flex-row.align-baseline {
  align-items: baseline;
}

.flex-row.align-stretch {
  align-items: stretch;
}

.flex-row.gap-x-0 {
  gap: 0px;
  row-gap: 0px;
}

.flex-row.gap-x-1 {
  gap: 4px;
  row-gap: 4px;
}

.flex-row.gap-x-2 {
  gap: 8px;
  row-gap: 8px;
}

.flex-row.gap-x-3 {
  gap: 12px;
  row-gap: 12px;
}

.flex-row.gap-x-4 {
  gap: 16px;
  row-gap: 16px;
}

.flex-row.gap-x-5 {
  gap: 20px;
  row-gap: 20px;
}

.flex-row.gap-x-6 {
  gap: 24px;
  row-gap: 24px;
}

.flex-row.gap-y-0 {
  column-gap: 0px;
}

.flex-row.gap-y-1 {
  column-gap: 4px;
}

.flex-row.gap-y-2 {
  column-gap: 8px;
}

.flex-row.gap-y-3 {
  column-gap: 12px;
}

.flex-row.gap-y-4 {
  column-gap: 16px;
}

.flex-row.gap-y-5 {
  column-gap: 20px;
}

.flex-row.gap-y-6 {
  column-gap: 24px;
}

.flex-row.flex-grow {
  flex-grow: 1;
}

.flex-fow.full-width {
  width: 100%;
}

.flex-row.full-height {
  height: 100%;
}
