.pf-c-code-editor {
  position: absolute;
  height: 100%;
  width: 100%;
}

.pf-c-code-editor__main {
  background-color: transparent;
  height: 100%;
}

.pf-c-code-editor__main .monaco-editor {
  background-color: transparent;
}

.pf-c-code-editor__code {
  /* background-color: red; */
  height: 100%;
}

.react-monaco-editor-container {
  /* background-color: red; */
  min-height: 100%;
}

.scroll-decoration {
  display: none;
}

.monaco-editor {
  background-color: transparent;
}

.monaco-editor .monaco-editor-background {
  background-color: transparent;
}

.margin {
  background-color: transparent !important;
}

/* .monaco-scrollable-element {
  margin-left: -24px;
} */
