name: AWX Update E2E Server

on:
  workflow_dispatch:
    inputs:
      AWX_SERVER:
        type: string
        description: 'AWX Server'
      UPDATE_SERVER:
        type: boolean
        required: true
        default: false
        description: 'Update server on success'
  schedule:
    - cron: '0 8 * * *'

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      AWX_SERVER: ${{ steps.step1.outputs.AWX_SERVER }}
      UPDATE_SERVER: ${{ steps.step1.outputs.UPDATE_SERVER }}
    steps:
      - id: step1
        run: |
          CURRENTDATE=$(date +'%Y%m%d')
          if([ "${{ github.event_name }}" == "workflow_dispatch" ]); then
            echo "AWX_SERVER=${{ github.event.inputs.AWX_SERVER || 'https://awx.ci-ui-${CURRENTDATE}.gcp.testing.ansible.com' }}" >> "$GITHUB_OUTPUT"
            echo "UPDATE_SERVER=${{ github.event.inputs.UPDATE_SERVER }}" >> "$GITHUB_OUTPUT"
          else 
            echo "AWX_SERVER=https://awx.ci-ui-${CURRENTDATE}.gcp.testing.ansible.com" >> "$GITHUB_OUTPUT"
            echo "UPDATE_SERVER=true" >> "$GITHUB_OUTPUT"
          fi

  awx-e2e:
    name: AWX E2E
    needs: setup
    uses: ./.github/workflows/awx-e2e.yml
    with:
      AWX_SERVER: ${{ needs.setup.outputs.AWX_SERVER }}
    secrets:
      AWX_PASSWORD: ${{ secrets.AWX_PASSWORD }}
      AWX_PROJECT_ID: ${{ secrets.AWX_PROJECT_ID }}
      AWX_RECORD_KEY: ${{ secrets.AWX_RECORD_KEY }}

  awx-update-server:
    name: AWX Update Server
    if: ${{ needs.setup.outputs.UPDATE_SERVER == 'true' }}
    needs:
      - awx-e2e
      - setup
    runs-on: ubuntu-latest
    steps:
      - name: Update Server Variable
        run: |
          curl -f -L -X PATCH -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GH_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          "https://api.github.com/repos/${{ github.repository }}/actions/variables/AWX_SERVER" \
          -d '{"name":"AWX_SERVER","value":"${{ needs.setup.outputs.AWX_SERVER }}"}'
      - name: Slack Notification
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "attachments":
                [
                  {
                    "color": "#00DD00",
                    "blocks":
                      [
                        {
                          "type": "section",
                          "text":
                            {
                              "type": "mrkdwn",
                              "text": "*Ansible-UI AWX E2E Server Updated* - <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|Success> - <${{ needs.setup.outputs.AWX_SERVER }}|Server>"
                            }
                        }
                      ]
                  }
                ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

  slack-failure-notification:
    name: Slack Failure Notification
    if: ${{ failure() && needs.setup.outputs.UPDATE_SERVER == 'true' }}
    needs:
      - awx-update-server
      - setup
    runs-on: ubuntu-latest
    steps:
      - name: Slack Notification
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "attachments":
                [
                  {
                    "color": "#FF0000",
                    "blocks": [
                      {
                        "type": "section",
                        "text": {
                          "type": "mrkdwn",
                          "text": "*Ansible-UI AWX E2E Server Update Failed* - *<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|Failure>* - <${{ needs.setup.outputs.AWX_SERVER }}|Server>"
                        }
                      }
                    ]
                  }
                ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK