name: Main

on:
  push:
    branches:
      - main

concurrency: main

jobs:
  tag-release:
    name: Tag Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: |
          VERSION=`npm version patch --no-git-tag-version`
          git add .
          git commit -m "$VERSION [skip ci]"
          git tag -a $VERSION -m "$VERSION [skip ci]"
          git push origin $VERSION

  # publish-framework:
  #   name: Publish Framework
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: '18'
  #     - run: VERSION=`npm version patch --no-git-tag-version`
  #     - name: PreCache
  #       run: cat package-lock.json | jq '.version = "0.0.0"' | jq '.packages."".version = "0.0.0"' > package-lock-copy.json
  #     - name: Cache dependencies
  #       id: cache
  #       uses: actions/cache@v3
  #       with:
  #         path: |
  #           ./node_modules
  #           /home/runner/.cache/Cypress
  #         key: modules-${{ hashFiles('package-lock-copy.json') }}
  #     - name: PostCache
  #       run: rm package-lock-copy.json
  #     - name: Install dependencies
  #       if: steps.cache.outputs.cache-hit != 'true'
  #       run: npm ci
  #     - name: Publish Framework
  #       run: |
  #         npm run build:framework
  #         cp -f LICENSE.md publish
  #         cp -f framework/README.md publish/README.md
  #         cd publish
  #         VERSION=`cat ../package.json | jq -r '.version'` && cat ../framework/package.json | jq --arg version $VERSION '. +{version: $version}' > package.json
  #         npm publish
  #       env:
  #         NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  # docker:
  #   name: Docker
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: '18'
  #     - run: VERSION=`npm version patch --no-git-tag-version`
  #     - name: Setup Docker QEMU
  #       uses: docker/setup-qemu-action@v2

  #     - name: Setup Docker Buildx
  #       uses: docker/setup-buildx-action@v2

  #     - name: Cache Docker layers
  #       uses: actions/cache@v3
  #       with:
  #         path: /tmp/.buildx-cache
  #         key: ${{ runner.os }}-buildx-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-buildx-

  #     - name: Login to Quay
  #       uses: docker/login-action@v2
  #       with:
  #         registry: quay.io
  #         username: ${{ secrets.QUAY_USERNAME }}
  #         password: ${{ secrets.QUAY_TOKEN }}

  #     - name: Docker Push
  #       uses: docker/build-push-action@v3
  #       with:
  #         # platforms: linux/amd64,linux/arm64 - Quay does not seem to support this :(
  #         tags: quay.io/ansible/ansible-ui:latest,quay.io/ansible/ansible-ui:${{ github.ref_name }}
  #         labels: version=${{ github.ref_name }}
  #         build-args: VERSION=${{ github.ref_name }}
  #         push: true
  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache
  #         mv /tmp/.buildx-cache-new /tmp/.buildx-cache
