name: Main

on:
  push:
    branches:
      - main

concurrency: main

jobs:
  tag:
    name: Tag Release
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.version.outputs.VERSION }}
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - id: version
        run: |
          VERSION=`npm version patch --no-git-tag-version`
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: ${{ env.VERSION }} [skip ci]
          tagging_message: ${{ env.VERSION }}

  publish-framework:
    name: Publish Framework
    needs: tag
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ needs.tag.outputs.VERSION }}

      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'

      - name: PreCache
        run: cat package-lock.json | jq '.version = "0.0.0"' | jq '.packages."".version = "0.0.0"' > package-lock-copy.json

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            /home/runner/.cache/Cypress
          key: modules-${{ hashFiles('package-lock-copy.json') }}

      - name: PostCache
        run: rm package-lock-copy.json

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Publish Framework
        run: |
          ./node_modules/.bin/vite build
          ./node_modules/.bin/tsc --emitDeclarationOnly
          cp -f LICENSE.md publish
          cp -fR build/framework/ publish/
          cp -f framework/README.md publish/README.md
          cd publish
          VERSION=`cat ../package.json | jq -r '.version'` && cat ../framework/package.json | jq --arg version $VERSION '. +{version: $version}' > package.json
          npm publish --verbose
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  image:
    name: Container Image
    needs: tag
    runs-on: ubuntu-latest
    timeout-minutes: 12
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Quay
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Build Dependencies
        uses: docker/build-push-action@v4
        with:
          target: dependencies
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build Ansible UI
        uses: docker/build-push-action@v4
        with:
          target: ansible-ui
          tags: quay.io/ansible/ansible-ui:latest,quay.io/ansible/ansible-ui:${{ needs.tag.outputs.VERSION }}
          push: true
          cache-from: type=gha

      - name: Build EDA UI
        uses: docker/build-push-action@v4
        with:
          target: eda-ui
          platforms: linux/amd64,linux/arm64
          tags: quay.io/ansible/eda-ui:latest,quay.io/ansible/eda-ui:${{ needs.tag.outputs.VERSION }}
          push: true
          cache-from: type=gha
