name: Pull Request

on:
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker-image:
    name: Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          DOCKER_BUILDKIT=1 docker build --cache-from quay.io/ansible/ansible-ui:dependencies --tag ansible-ui .
      - run: docker save ansible-ui > ansible-ui.tar
      - uses: actions/upload-artifact@v3
        with:
          name: ansible-ui.tar
          path: ansible-ui.tar

  packages:
    name: Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: PreCache
        run: cat package-lock.json | jq '.version = "0.0.0"' | jq '.packages."".version = "0.0.0"' > package-lock-copy.json
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            /home/runner/.cache/Cypress
          key: modules-${{ hashFiles('package-lock-copy.json') }}
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

  cypress-e2e:
    name: Cypress E2E
    runs-on: ubuntu-latest
    needs:
      - packages
      - docker-image
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: PreCache
        run: cat package-lock.json | jq '.version = "0.0.0"' | jq '.packages."".version = "0.0.0"' > package-lock-copy.json
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            /home/runner/.cache/Cypress
          key: modules-${{ hashFiles('package-lock-copy.json') }}
      - uses: actions/download-artifact@v3
        with:
          name: ansible-ui.tar
      - run: docker load --input ansible-ui.tar
      - run: docker run -d -e PORT=3002 -p 3002:3002 ansible-ui
      - run: npm run cypress:run:e2e
        env:
          E2E_SERVER: ${{ secrets.E2E_SERVER }}
          E2E_USERNAME: ${{ secrets.E2E_USERNAME }}
          E2E_PASSWORD: ${{ secrets.E2E_PASSWORD }}
      - uses: actions/upload-artifact@v3
        with:
          name: e2e.info
          path: coverage/lcov.info

  cypress-unit:
    name: Cypress Unit Tests
    runs-on: ubuntu-latest
    needs: packages
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: PreCache
        run: cat package-lock.json | jq '.version = "0.0.0"' | jq '.packages."".version = "0.0.0"' > package-lock-copy.json
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            /home/runner/.cache/Cypress
          key: modules-${{ hashFiles('package-lock-copy.json') }}
      - run: npm run cypress:run:unit
      - uses: actions/upload-artifact@v3
        with:
          name: unit.info
          path: coverage/lcov.info

  coverage:
    name: Coverage Report
    runs-on: ubuntu-latest
    needs:
      - cypress-e2e
      - cypress-unit
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: e2e.info
      - uses: actions/download-artifact@v3
        with:
          name: unit.info
      - name: Report code coverage
        uses: zgosalvez/github-actions-report-lcov@v2
        with:
          coverage-files: '*.info'
          minimum-coverage: 50
          artifact-name: code-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}

  eslint:
    name: ESLint - Prettier - TSC
    runs-on: ubuntu-latest
    needs: packages
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: PreCache
        run: cat package-lock.json | jq '.version = "0.0.0"' | jq '.packages."".version = "0.0.0"' > package-lock-copy.json
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            /home/runner/.cache/Cypress
          key: modules-${{ hashFiles('package-lock-copy.json') }}
      - run: npm run checks
