name: Pull Request
on:
    pull_request:
        branches: main
jobs:
    pull-request:
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.head_ref }}
            cancel-in-progress: true
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '18'
                  cache: 'npm'
            - run: npm ci
            - run: npm test
            - name: Report code coverage
              uses: zgosalvez/github-actions-report-lcov@v1
              with:
                  coverage-files: coverage/lcov.info
                  minimum-coverage: 90
                  artifact-name: code-coverage-report
                  github-token: ${{ secrets.GH_TOKEN }}
                  working-directory: './'
            - run: npm run coverage:check
