.ansi-green-fg {
  color: var(--pf-v5-global--success-color--100);
}

.ansi-red-fg {
  color: var(--pf-v5-global--danger-color--100);
}

.ansi-yellow-fg {
  color: var(--pf-v5-global--warning-color--100);
}

.ansi-blue-fg {
  color: var(--pf-v5-global--info-color--100);
}
